/* 1920px 1024 768 480 320 */


.text-400-16 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.text-400-18 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: calc(11px + 9 * (100vw / 1920));
}

.text-400-24 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: calc(15px + 9 * (100vw / 1920));
}

.text-600-16 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.text-600-18 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.text-600-24 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: calc(15px + 9 * (100vw / 1920));
}

.text-600-36 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: calc(23px + 13 * (100vw / 1920));
}

.text-600-42 {
    font-family: 'Montserrat', serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
}

.text-700-18 {
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.text-700-36 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}