.text-400-16 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.text-400-18 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.text-400-24 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.text-600-16 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.text-600-18 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.text-600-24 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.text-600-36 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.88px;
}

.text-600-42 {
    font-family: 'Montserrat', serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
}

.text-700-18 {
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.text-700-36 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}